# raccoon production .gitignore file
# The following will be excluded:

# (testing and development)
.hintrc
/.ignore/
.vscode
_elements.txt
/searchlight/
/no-cors-test.html

# -- Jekyll --
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# -- Favicons --
/favicon/vi-logo-big-hngo.png
/favicon/vi-logo-small-hngo.png
/favicon/vi-logo-big-odr.png
/favicon/vi-logo-small-odr.png
/favicon/vi-logo-big-mntg.png
/favicon/vi-logo-small-mntg.png
/favicon/vi-logo-big-vidy.png
/favicon/vi-logo-small-vidy.png

# -- Fonts --
/fonts/BebasNeue/
/fonts/CascadiaCode/
/fonts/FAT/
/fonts/kiloton/
/fonts/Molot/
/fonts/Pixeloid/
/fonts/PlexMono/
/fonts/TechnaSans-Regular.otf

search.js
search_data.json
search.html
search.md

