<!-- Header begin -->
        <header class="header header-padding bg-header">
            <div class="header-left"></div>
                <div class="header-right">
                    <div class="header-buttons">
                        <a class="header-button dm-sans semibold" href="{{ site.baseurl }}/{{ page.lang }}/">{{ site.t[page.lang].home }}</a>
                        <a class="header-button dm-sans semibold icon-search" href="{{ site.baseurl }}/{{ page.lang }}/search"></a>
                    </div>
                </div>
            </div>
        </header>
<!-- Header end -->
